{% load i18n %}
<footer class="footer has-background-info-dark">

    <div class="content has-text-centered has-text-white">
        <div class="columns">
            <div class="column">
                <h6>{% trans "About Us" %}</h6>
                <p class="has-text-center">{% trans "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." %}</p>
            </div>

            <div class="column">
                <h6>{% trans "Contact us" %}</h6>
                <ul>
                    <li><a href="https://github.com/DanisSky" class = "has-text-white">git@DanisSky</a></li>
                </ul>
            </div>

        </div>
    </div>
    <div class="content has-text-centered">
    <p>
    </p>
  </div>
</footer>