{% load i18n %}
<footer class="footer has-background-grey-lighter">

    <div class="content has-text-centered has-text-white">
        <h1>{% trans "My Shop" %}</h1>
        <div class="columns">
            <div class="column">
                <h6>{% trans "About Us" %}</h6>
                <p class="has-text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>
            </div>

            <div class="column">
                <h6>{% trans "Important" %}</h6>
                <ul>
                    <li><a href="https://github.com/DanisSky">git@DanisSky</a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>