{% extends "base.html" %}
{% load i18n %}
{% block title %}Log-in{% endblock %}
{% block content %}
    {% if form.errors %}
        <p>
            {% trans "Your username and password didn't match." %}
            {% trans "Please try again." %}
        </p>
    {% else %}

    {% endif %}
    <section class="hero is-primary is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                        <form action="{% url 'account:login' %}" method="post" class="box">
                            <div class="field">
                                <label for="" class="label">{% trans "Email" %}</label>
                                <div class="control has-icons-left">
                                    {{ form.username }}
                                    <span class="icon is-small is-left"><i class="fa fa-envelope"></i></span>
                                </div>
                            </div>
                            <div class="field">
                                <label for="" class="label">{% trans "Password" %}</label>
                                <div class="control has-icons-left">
                                    {{ form.password }}
                                    <span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
                                </div>
                            </div>
                            <div class="field">
                                <label for="" class="checkbox">
                                    <input type="checkbox"> {% trans "Remember me" %}
                                </label>
                            </div>
                            <div class="field">
                                <label for="" class="">
                                    <ul>
                                        <li><a href="{% url 'account:password_reset' %}">{% trans "Restore Password" %}</a>
                                        </li>
                                    </ul>

                                </label>
                            </div>
                            <div class="field">
                                <button class="button has-background-info-dark has-text-white">{% trans "Login" %}</button>
                            </div>
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ next }}"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}