{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="container p-5">
        <br>
        <br>
        <div class="tile is-parent">
            <article class="tile is-child notification is-warning">
                <p class="title">{% trans "Password reset complete" %}</p>
                <div class="content">
                    <p>{% trans "Your password has been set. You may go ahead and log in now." %}</p>
                    <a href="{% url "account:login" %}" class="button is-small is-primary">{% trans "Log in" %}</a>
                </div>

                <br>
                <br>
                <br>
            </article>
        </div>
        <br>
        <br>
    </div>


{% endblock %}