{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}
    {% if category %}{{ category.title }}{% else %}{% trans "Products" %}{% endif %}
{% endblock %}
{% block content %}
    <div class="container p-5">
        <div class="columns">
            <div class="column is-two-thirds">
                <br>
                <br>
                <figure class="image">
                    <img src="
{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}"
                         class="card-img-top" style="width: 50%">
                </figure>
                <br>
                <br>
            </div>
            <div class="column">
                <div class="tile ">
                    <div class="is-centered">
                        <br>
                        <br>
                        <h1>{% trans "Poduct name:" %}</h1>
                        <h1>{% trans "Category:" %}</h1>
                        <h1>{% trans "Price:" %}</h1>
                        <h1>{% trans "Description:" %}</h1>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="tile">
                    <div class="is-centered">
                        <div class="product__detail__card__about">
                            <br>
                            <br>
                            <h1>{{ product.name }}</h1>
                            <h2><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h2>
                            <p class="price">${{ product.price }}</p>
                            {{ product.description|linebreaks }}
                            <form action="{% url "cart:cart_add" product.id %}" method="post">
                                {{ cart_product_form }}
                                {% csrf_token %}
                                <input type="submit" class="button is-small is-primary"
                                       value="{% trans "Add to cart" %}">
                            </form>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container p-5">
        <h2 class="subtitle">{% trans "Reviews" %}</h2>
        <div class="reviews-wrapper">
            {% for review in product.reviews.all %}
                <div class="notification space-below">
                    <p>
                        <strong>Date: </strong>{{ review.date_added|date:"Y-m-d" }},
                        <strong>Stars: </strong>{{ review.stars }}
                    </p>

                    {{ review.text }}
                </div>
            {% empty %}
                <div class="notification space-below">
                    No reviews yet...
                </div>
            {% endfor %}
        </div>
        <hr>
        <div class="notification space-below">
            {% if request.user.is_authenticated %}
                <form method="post" action=".">
                    {% csrf_token %}

                    <div class="field">
                        <label>Stars</label>

                        <div class="control">
                            <div class="select">
                                <label>
                                    <select name="stars">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3" selected>3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label>Content</label>

                        <div class="control">
                            <label>
                                <textarea class="textarea" name="content"></textarea>
                            </label>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button class="button is-success">{% trans "Submit" %}</button>
                        </div>
                    </div>
                </form>
            {% else %}
                <p>{% trans "Please sign in to add review!" %}</p>
            {% endif %}
        </div>
    </div>
    </div>
    {#    <div class="content container">#}
    {#        <div class="product__detail">#}
    {#            <div class="product__detail__card">#}
    {#                <div class="product__detail__card__image">#}
    {#                    <figure class="image">#}
    {#                        <img src="#}
    {#                                #}
    {#                                {% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}"#}
    {#                             class="card-img-top" style="width: 50%">#}
    {#                    </figure>#}
    {##}
    {#                </div>#}
    {#                <div class="product__detail__card__about">#}
    {#                    <h1>{{ product.name }}</h1>#}
    {#                    <h2><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h2>#}
    {#                    <p class="price">${{ product.price }}</p>#}
    {#                    {{ product.description|linebreaks }}#}
    {#                    <form action="{% url "cart:cart_add" product.id %}" method="post">#}
    {#                        {{ cart_product_form }}#}
    {#                        {% csrf_token %}#}
    {#                        <input type="submit" value="{% trans "Add to cart" %}">#}
    {#                    </form>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {##}
    {#    <h2 class="subtitle">{% trans "Reviews" %}</h2>#}
    {#    <div class="reviews-wrapper">#}
    {#        {% for review in product.reviews.all %}#}
    {#            <div class="notification space-below">#}
    {#                <p>#}
    {#                    <strong>Date: </strong>{{ review.date_added|date:"Y-m-d" }},#}
    {#                    <strong>Stars: </strong>{{ review.stars }}#}
    {#                </p>#}
    {##}
    {#                {{ review.text }}#}
    {#            </div>#}
    {#        {% empty %}#}
    {#            <div class="notification space-below">#}
    {#                No reviews yet...#}
    {#            </div>#}
    {#        {% endfor %}#}
    {#    </div>#}
    {##}
    {#    <div class="notification space-below">#}
    {#        {% if request.user.is_authenticated %}#}
    {#            <form method="post" action=".">#}
    {#                {% csrf_token %}#}
    {##}
    {#                <div class="field">#}
    {#                    <label>Stars</label>#}
    {##}
    {#                    <div class="control">#}
    {#                        <div class="select">#}
    {#                            <label>#}
    {#                                <select name="stars">#}
    {#                                    <option value="1">1</option>#}
    {#                                    <option value="2">2</option>#}
    {#                                    <option value="3" selected>3</option>#}
    {#                                    <option value="4">4</option>#}
    {#                                    <option value="5">5</option>#}
    {#                                </select>#}
    {#                            </label>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {##}
    {#                <div class="field">#}
    {#                    <label>Content</label>#}
    {##}
    {#                    <div class="control">#}
    {#                        <label>#}
    {#                            <textarea class="textarea" name="content"></textarea>#}
    {#                        </label>#}
    {#                    </div>#}
    {#                </div>#}
    {##}
    {#                <div class="field">#}
    {#                    <div class="control">#}
    {#                        <button class="button is-success">{% trans "Submit" %}</button>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </form>#}
    {#        {% else %}#}
    {#            <p>{% trans "Please sign in to add review!" %}</p>#}
    {#        {% endif %}#}
    {#    </div>#}
    {#    </div>#}


{% endblock %}
