{% extends "market/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
    <div class="tile is-ancestor">
        <div class="tile is-3 is-vertical is-parent">
            <div class="tile is-child box">
                <article class="tile is-child notification">
                    <aside class="menu">
                        <p class="title">
                            {% trans "Categories" %}
                        </p>
                        <div class="content">
                            <ul class="menu-list">
                                <li {% if not category %}class="is-active"{% endif %}>
                                    <a href="{% url "market:product_list" %}">{% trans "All" %}</a></li>

                                {% for c in categories %}
                                    <li  {% if category.slug == c.slug %} class="selected" {% endif %}>
                                        <a class="has-text-black" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </aside>
                </article>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="tile is-child box">
                <div class="columns is-multiline">
                    <h1>{% if category %}{{ category.name }}{% else %}{% trans "Products" %}{% endif %}</h1>
                    {% for p in products %}
                        <div class="column is-3">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image">
                                        <img src="{% if p.image %}
                                    {{ p.image.url }}
                                    {% else %}
                                    {% static "img/no_image.png" %}
                                    {% endif %}">
                                    </figure>
                                </div>

                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="title is-4">{{ p.name }}</p>
                                            <p class="subtitle is-6">${{ p.price }}</p>
                                        </div>
                                    </div>
                                </div>

                                <footer class="card-footer">
                                    <a href="{{ p.get_absolute_url }}" class="card-footer-item">{% trans "View" %}</a>
                                </footer>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}