{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_filters %}

{% block title %}Checkout{% endblock %}

{% block content %}
    <div class='columns'>
        <div class='column'>
            <h1 class="is-size-4">Checkout your order</h1>
            <hr>
            <div class="order-info">
                <ul>
                    {% for item in cart %}
                        <li>
                            {{ item.quantity }}x {{ item.product.name }}
                            <span>${{ item.total_price }}</span>
                        </li>
                    {% endfor %}
                    <hr>
                    {% if cart.coupon %}
                        <li>
                            "{{ cart.coupon.code }}" ({{ cart.coupon.discount }}% off)
                            <span>- ${{ cart.get_discount|floatformat:"2" }}</span>
                        </li>
                    {% endif %}
                </ul>
                <p>Total: ${{ cart.get_total_price_after_discount|floatformat:"2" }}</p>
            </div>
            <hr>
        </div>

        <div class='column'>
            <form action="." method="post" class="order-form">
                {% for field in form %}
                     <div class="field">
                                <label for="" class="label">{{ field.name }}</label>
                                {{ field }}
                            </div>
                {% endfor %}
                <p><input type="submit" class = "button is-info" value="Place order"></p>
                {% csrf_token %}
            </form>
        </div>
        <div class='column'><p></p></div>
    </div>
    <div style="height: 70px"><p></p></div>
{% endblock %}